PORT=8000

CLIENT_URL="http://localhost:3000"

# PostgreSQL Container Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=assignment

# Database Connection URL (for local running)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/assignment
DB_POOL_MIN=2
DB_POOL_MAX=10
LOG_LEVEL=debug

# JWT Authentication Secrets
JWT_ACCESS_SECRET=your_jwt_access_secret_key_change_in_production
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_change_in_production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASSWORD=""